.container {
  width: 80%;
  margin: 1rem auto;
  /* border: 1px solid black; */
}

.center-vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.property-card {
  margin: 1rem 0;
}
.filter-fields .small-margin {
  margin: 0.5rem 0.5rem;
  /* display: block; */
}
